.abouthead  h3 {
	color:#FFFFFF !important;
}

@media(min-width:320px) and (max-width:480px){
.abouthead  h3{
	font-size:24px !important;
}}

@media(min-device-width:768px) and (max-device-width:1024px){
.abouthead  h3{
	font-size:28px !important;
}}

.abouthead  p {
	font-size:18px !important;
	color:#FFFFFF !important;
}

@media(min-width:320px) and (max-width:480px){
.abouthead  p{
	font-size:14px !important;
}}

@media(min-device-width:768px) and (max-device-width:1024px){
.abouthead  p{
	font-size:16px !important;
}}

.body_heading {
	color:#FFFFFF !important;
}

@media(min-width:320px) and (max-width:480px){
.body_heading{
	font-size:20px !important;
}}

@media(min-device-width:768px) and (max-device-width:1024px){
.body_heading{
	font-size:35px !important;
}}

.body_sub_heading {
	color:#959595 !important;
}

@media(min-device-width:768px) and (max-device-width:1024px){
.body_sub_heading{
	font-size:20px !important;
}}

.event_heading {
	color:#FFFFFF !important;
}

