.abouthead  h3 {
	color:#FFFFFF !important;
}

.abouthead  p {
	color:#FFFFFF !important;
}

.body_heading {
	color:#FFFFFF !important;
}

.body_sub_heading {
	color:#FFFFFF !important;
}

.event_heading {
	color:#FFFFFF !important;
}

