@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.news-heading {
	font-family: 'Josefin Sans' !important;
}

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.prod-bl p.news-date {
	font-family: 'Josefin Sans' !important;
}

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.news-button-text {
	font-family: 'Josefin Sans' !important;
}

.news-heading {
	font-size:26px !important;
	color:#FFFFFF !important;
	font-weight:300 !important;
}

@media(min-width:320px) and (max-width:480px){
.news-heading{
	font-size:13px !important;
}}

@media(min-device-width:768px) and (max-device-width:1024px){
.news-heading{
	font-size:19px !important;
}}

.prod-bl p.news-date {
	font-size:22px !important;
	color:#FFFFFF !important;
	font-weight:normal !important;
}

@media(min-width:320px) and (max-width:480px){
.prod-bl p.news-date{
	font-size:10px !important;
}}

@media(min-device-width:768px) and (max-device-width:1024px){
.prod-bl p.news-date{
	font-size:15px !important;
}}

.news-button-text {
	color:#FFFFFF !important;
	font-weight:normal !important;
}

