.home-slider-heading {
	color:#FFFFFF !important;
}

.home-slider-subheading {
	color:#FFFFFF !important;
}

.home-slider-content {
	font-size:18px !important;
	color:#FFFFFF !important;
}

.home-slider-button {
	color:#FFFFFF !important;
}

