.content_right h1.title {
	color:#000000 !important;
}

.layoutArea .column p strong {
	font-size:24px !important;
	color:#000000 !important;
}

.layoutArea .column p {
	font-size:18px !important;
	color:#000000 !important;
}

